alembic==0.8.6
Appium-Python-Client==0.22
appnope==0.1.0
attrs==15.2.0
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
blinker==1.4
cffi==1.6.0
chardet==2.3.0
click==6.6
coverage==4.0.3
cryptography==1.3.2
cssselect==0.9.1
cycler==0.10.0
dask==0.8.2
decorator==4.0.9
defusedxml==0.4.1
Django==1.9.6
django-bootstrap3==7.0.1
docopt==0.6.2
et-xmlfile==1.0.1
Flask==0.10.1
Flask-Babel==0.10.0
Flask-HTTPAuth==3.1.2
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.1
Flask-WhooshAlchemy==0.56
Flask-WTF==0.12
flipflop==1.0
gnureadline==6.3.3
guess-language==0.2
idna==2.1
inflect==0.2.5
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
jdcal==1.2
Jinja2==2.8
jsonschema==2.5.1
lxml==3.6.0
Mako==1.0.4
MarkupSafe==0.23
matplotlib==1.5.1
mechanize==0.2.5
mpmath==0.19
networkx==1.11
nose==1.3.7
numpy==1.11.0
openpyxl==2.3.5
pandas==0.18.1
path.py==8.2.1
pbr==1.9.1
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.2.0
pipreqs==0.4.2
plotly==1.9.10
progressbar-latest==2.4
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pycurl==7.43.0
pylab==0.1.3
PyMySQL==0.7.2
pyOpenSSL==16.0.0
pyparsing==2.1.1
pyquery==1.2.13
pyspider==0.3.7
pytest==2.9.1
python-dateutil==2.5.3
python-editor==1.0
python3-openid==3.0.10
pytime==0.1.8
pytz==2016.4
pyzmq==15.2.0
queuelib==1.4.2
readline==6.2.4.1
requests==2.10.0
robotframework==3.0
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.0
seaborn==0.7.0
selenium==2.53.2
service-identity==16.0.0
simplegeneric==0.8.1
six==1.10.0
speaklater==1.3
splinter==0.7.3
sqlacodegen==1.1.6
SQLAlchemy==1.0.12
sqlalchemy-migrate==0.10.0
sqlparse==0.1.19
sympy==1.0
tabulate==0.7.5
Tempita==0.5.2
toolz==0.7.4
tornado==4.3
traitlets==4.2.1
Twisted==16.1.1
u-msgpack-python==2.1
w3lib==1.14.2
Werkzeug==0.11.9
Whoosh==2.7.4
WTForms==2.1
xlrd==0.9.4
xlwt==1.0.0
yarg==0.1.9
zope.interface==4.1.3
